.kaufman {
  background-color: #1f1f1f;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding-top: 90px;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
