.kaufman__triangle {
  background: url(../../../images/kaufman-triangle.svg);
  position: absolute;
  right: -210px;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  height: 877px;
  width: 877px;
}
